<div class="date-picker">
    <input type="date"
           name="dateFrom"
           ng-model="$ctrl.dates.from">

    <input type="date"
           name="dateTo"
           ng-model="$ctrl.dates.to">

    <accept-date-button dates="$ctrl.dates"
                        accept-button-handler="$ctrl.acceptButtonHandler({ dateFrom, dateTo })"></accept-date-button>
    
</div>
<br>