<div class="container">
    <div class="container-fluid">
        <div class="row">
            <charts-view-navigation></charts-view-navigation>
        </div>
        <br>
        <div>
            <h1 class="title">Charts</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <p>Please choose preffered currency</p>
                <currency-picker get-value="$ctrl.getCode( code )"></currency-picker>
                <p>Dates are set accordingly to dates chosen in the table view. Please feel free to change them as you need.</p>
                <date-picker date-from="$ctrl.dates.from"
                             date-to="$ctrl.dates.to"
                             accept-button-handler="$ctrl.acceptButtonHandler(dateFrom, dateTo)"></date-picker>
            </div>
            <div class="col-md-9">
                <line-chart></line-chart>
                <bar-chart></bar-chart>

            </div>
        </div>
    </div>
</div>