<div class="container">
    <div class="container-fluid">
        <div class="row">
        
            <table ng-if="$ctrl.getFavs().length > 0">
                <caption>Favourite currencies</caption>
                <thead>
                    <tr>
                        <th>Favourite currencies</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Currency</th>
                                        <th><button ng-click="$ctrl.clear()"
                                            class="btn btn-secondary btn-danger" type="reset">Clear all</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="currency in $ctrl.getFavs() track by currency.id">
                                        <td>{{ currency.date }}</td>
                                        <td>{{ currency.currency }}</td>
                                        <td>{{ currency.mid }}</td>
                                        <td>
                                            <button ng-click="$ctrl.remove(currency)"
                                                    class="btn btn-secondary btn-warning">Remove from fav</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </tbody>
            </table>
       
        </div>
    </div>
</div>