<table-view-navigation></table-view-navigation>

<h1>Exchange Rates Tables</h1>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <p>Please pick dates</p>
            <date-picker accept-button-handler="$ctrl.acceptButtonHandler(dateFrom, dateTo)"></date-picker>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <currencies-list-table currencies-collection="$ctrl.CurrenciesAPI.getFromCache( 'currency-by-date-payload' )"
                                       add-currency-to-favourites="$ctrl.addCurrencyToFavourites( currency, date )"
                                       is-favorite="$ctrl.isFavorite(currency)"></currencies-list-table>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5 favourite-currency-table">
                <favourite-currency-container></favourite-currency-container>
            </div>
        </div>
    </div>
</div>
