<div>
    <table>
        <thead>
            <th scope="col"
                class="effective-date"
                ng-repeat="item in $ctrl.currenciesCollection">
                {{ item.effectiveDate }}
            </th>
        </thead>
        <tbody>
            <tr>
                <td scope="col"
                    class="effective-date"
                    ng-repeat="item in $ctrl.currenciesCollection">
                    <table>
                        <tr scope="row" class="currenciesView" ng-repeat="currency in item.rates">
                            <td>{{ currency.currency }}</td>
                            <td>{{ currency.code }}</td>
                            <td>{{ currency.mid }}</td>
                            <td>
                              
                                <input type="checkbox" 
                                        name="addToFavourites"
                                        ng-checked="$ctrl.isFavorite({ currency: currency })"
                                        ng-click="$ctrl.addCurrencyToFavourites({ currency: currency, date: item.effectiveDate })">Add
                            </td>
                        </tr>
                    </table>
                </td>
        </tbody>
    </table>
</div>