/* Reset CSS */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 12px;
}

/* Main settings */

* {
    font-family: 'Source Serif Pro', serif;
    font-size: 17px;
    color: #3d2a19;
}

/* Navigation */

.navigation-button {
    border-color: #3d2a19;
    color: #3d2a19;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, 
                background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out, 
                box-shadow 0.15s ease-in-out;
}

.navigation-button:hover {
    color: #fff;
    background-color: #aa7546;
    border-color: #3d2a19;
    text-decoration: none;
}

.navigation-button:focus {
    box-shadow: 0 0 0 0.1rem #6e6d6d
}

.accept-button {
    background: #fff;
}

/* Home page */

.main-container {
      margin: 0;
      font-family: 'Source Serif Pro', serif;
      font-size: 17px;
      color: #3d2a19;
      line-height: 1.6;
}

.showcase {
    background-image: url('./img/80.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.showcase h1 {
    font-size: 70px;
    text-shadow: 2px 2px #fff;
    text-transform: capitalize;
    text-align: center;
}

.showcase p {
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px #fff;
}

.home-page-button {
    border: 1px solid #3d2a19;
    color: #3d2a19;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, 
                background-color 0.15s ease-in-out, 
                border-color 0.15s ease-in-out, 
                box-shadow 0.15s ease-in-out;
}

.home-page-button:hover {
    color: #fff;
    background-color: #aa7546;
    border-color: #3d2a19;
    text-decoration: none;
}

.home-page-button:focus {
    box-shadow: 0 0 0 0.2rem #6d390c
}

/* Tables view - example styling, classes needed*/

div {
    overflow-x: auto;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
 
.date-picker {
     margin-left: 20px;
}

