<div>
    <canvas id="line"
            class="chart chart-line" 
            chart-data="$ctrl.getData().data" 
            chart-labels="$ctrl.getData().labels" 
            chart-series="$ctrl.getData().series" 
            chart-options="$ctrl.options"
            chart-dataset-override="$ctrl.datasetOverride" 
            chart-click="$ctrl.onClick()">
    </canvas>
</div>