<select name="currency"
        id="currency-select"
        ng-model="$ctrl.selectedValue"
        ng-change="$ctrl.getValue({ code: $ctrl.selectedValue })">
    <option ng-repeat="currency in $ctrl.options"
            ng-value="currency.code">
        {{ currency.currency }}
    </option>
</select>