<div>
    <canvas id="bar" 
            class="chart chart-bar" 
            chart-data="$ctrl.getData().data" 
            chart-labels="$ctrl.getData().labels" 
            chart-series="$ctrl.getData().series">
    </canvas>
</div>