
<div class="main-container">
    <home-view-navigation></home-view-navigation>
    <div class="showcase">
        <h1>Currency Exchange Rate</h1>
        <p>
            This is an application, which allows you to view exchange rates from desired time, add currencies to favourites and view
            exchange rates charts.
        </p>
        <home-view-button></home-view-button>
    </div>
</div>
<a href="http://www.freepik.com">Cover image designed by ijeab / Freepik</a>